@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.aoj-24 {
  --primary: #363daa;
  --selected: #363daa;
  --unselected: #dde8f7;
}

.aoj-24 .body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.aoj-24 .wrapper {
  width: 1300px;
}

.aoj-24 th {
  border-bottom: 2px solid black;
  padding: 15px 0;
  padding-right: 12px;
  padding-left: 18px;
  font-size: 18px;
}

.aoj-24 th.header__id {
  padding-left: 0;
}

.aoj-24 td {
  border-bottom: 2px solid #dde8f7;
  padding: 5px 0;
}

.aoj-24 .sort {
  background: none;
  border: none;
  cursor: pointer;
}

.aoj-24 .sort svg path {
  fill: var(--unselected);
}

.aoj-24 .sort.descending svg path:first-of-type,
.aoj-24 .sort.ascending svg path:last-of-type {
  fill: var(--selected);
}

.aoj-24 th {
  text-align: left;
  font-weight: bold;
  color: var(--primary);
  line-height: 20px;
}

.aoj-24 td {
  padding-right: 12px;
}

.aoj-24 input[type='text'],
.aoj-24 input[type='email'] {
  background: none;
  padding: 0 16px;
  height: 55px;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
}

.aoj-24 .edit input[type='text'],
.aoj-24 .edit input[type='email'] {
  background: #edf4f9;
}

.aoj-24 .name input[type='text'] {
  font-weight: bold;
  color: var(--primary);
}

.aoj-24 .update,
.aoj-24 .edit {
  background: none;
  border: none;
  cursor: pointer;
}

.aoj-24 .update {
  display: none;
}

.aoj-24 tr.edit .update {
  display: block;
}

.aoj-24 tr.edit .edit {
  display: none;
}

.aoj-24 .pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.aoj-24 .pagination button {
  background: none;
  border: none;
  cursor: pointer;
}

.aoj-24 tbody tr:last-child td {
  border-bottom: 2px solid black;
}

.aoj-24 tfoot td {
  border-bottom: 0;
}

.aoj-24 tfoot input[type='text'] {
  width: 50px;
  text-align: center;
}
