.aoj-3 .body {
  background: #37b2c3;
}

.aoj-3 .piano {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aoj-3 .white-keys {
  fill: white;
}

.aoj-3 .white-keys:hover {
  fill: #ffd200;
}

.aoj-3 .black-keys {
  fill: black;
}

.aoj-3 .black-keys:hover {
  fill: #f40082;
}
