@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');

.aoj-19 {
  --primary: #1400ff;
}

.aoj-19 .body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aoj-19 h1 {
  font-weight: 800;
  color: black;
  font-size: 3.5rem;
  padding: 0;
  margin: 0 0 20px 0;
}

.aoj-19 .field {
  position: relative;
  margin-bottom: 20px;
}

.aoj-19 input[type='text'],
.aoj-19 input[type='email'],
.aoj-19 input[type='password'] {
  border: 2px solid #d4d4d4;
  border-radius: 4px;
  padding: 0 20px;
  width: 450px;
  height: 62px;
  margin-top: 10px;
  outline: none;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.aoj-19 input[type='text']:focus,
.aoj-19 input[type='email']:focus,
.aoj-19 input[type='password']:focus {
  border-color: var(--primary);
  color: var(--primary);
}

.aoj-19 label {
  display: inline-block;
  color: var(--primary);
  font-size: 0.875rem;
  font-weight: 500;
  position: absolute;
  background: white;
  padding: 0 5px;
  left: 20px;
  top: 0;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}

.aoj-19 input[type='text']:placeholder-shown + label,
.aoj-19 input[type='email']:placeholder-shown + label,
.aoj-19 input[type='password']:placeholder-shown + label {
  font-size: 1.5rem;
  top: 31px;
}

.aoj-19 input[type='text']:focus + label,
.aoj-19 input[type='email']:focus + label,
.aoj-19 input[type='password']:focus + label {
  font-size: 0.875rem;
  top: 0;
}

.aoj-19 .show-hide {
  border: none;
  background: url('../images/show.svg') left top no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 405px;
  top: 32px;
  cursor: pointer;
}

.aoj-19 .show .show-hide {
  background-image: url('../images/hide.svg');
  background-size: 32px 32px;
  top: 28px;
}

.aoj-19 input[type='submit'] {
  background: var(--primary);
  color: white;
  border-radius: 4px;
  font-weight: 700;
  border: none;
  width: 450px;
  height: 62px;
  font-size: 1.5rem;
  margin-top: 10px;
}

.aoj-19 input[type='submit']:disabled {
  background: gray;
}

.aoj-19 .error,
.aoj-19 .success {
  position: absolute;
  top: 30px;
  left: 460px;
  width: 300px;
  display: flex;
  align-items: center;
}

.aoj-19 .error {
  color: #ff0000;
}

.aoj-19 .success {
  color: #5fa12b;
}

.aoj-19 .error img,
.aoj-19 .success img {
  margin-right: 5px;
}
