.quantity__wrapper {
  display: flex;
  gap: 10px;
}

.quantity__wrapper .quantity {
  background: none;
  color: black;
}

.decrease,
.increase {
  padding: 0;
  height: 32px;
  width: 32px;
  display: block;
}

.decrease:hover,
.increase:hover {
  background: black;
}

.decrease img {
  top: 1px;
  position: relative;
  left: -1px;
}

.increase img {
  transform: rotate(180deg);
  position: relative;
  top: 1px;
  left: 2px;
}
